/* common */
* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
    background-color: #FFFFFF;
}
#logo, #title {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}
#logo {
    margin-left: 20px;
    margin-top: 10px;
}
#title  {
    font-size: 38px;
    font-weight: bold;
}

#background {
    background-color: #F6F8F9;
}

/* main */
main {
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 10px;
    padding: 30px;
}

