/* common */
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

#background {
    background-color: #F6F8F9;
    height: 100vh;
}

/* header */
header {
    width: 100%;
    background-color: #FFFFFF;
}
#logo, #titolo-logo {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}
#logo {
    margin-left: 20px;
    margin-top: 10px;
}
#titolo-logo  {
    font-size: 38px;
    font-weight: 800;
    padding-left: 5px;
}

/* line break */

hr {
    margin-left: -30px;
    margin-right: -30px;
}

/* main */
main {
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 30px;
    color: #444851;
}

/* add task or section */
.add {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
}
.task {
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
    color: #FFFFFF;
}
.section {
    border: 1px solid #c2c5c6;
    color: #c2c5c6;
}
#action {
    padding: 10px 20px;
}

/* calendar */
.new-task, .today, .upcoming {
    padding-left: 20px;
    margin-top: 24px;
}
.title {
    font-weight: 700;
    font-size: 26px;
}
.list-item {
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
}

/* check and cross round */
.circle {
    height: 8px;
    width: 8px;
    padding: 4px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.check {
    border: 2px solid #72C6B1;
    color: #72C6B1;
}
.cross {
    border: 2px solid #F3A4A1;
    color: #F3A4A1;
}

/* category buttons */

.button {
    border-radius: 20px;
    padding: 4px 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.editorial {
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
}
.goals {
    background-color: #9C72E4;
    border: 1px solid #9C72E4;
}
.recruiting {
    background-color: #64C0A9;
    border: 1px solid #64C0A9;
}
.mobile {
    background-color: #F29E33;
    border: 1px solid #F29E33;
}
.website {
    background-color: #D863A1;
    border: 1px solid #D863A1;
}
.sales {
    background-color: #B0C926;
    border: 1px solid #B0C926;
}
